<html>
<head>
    <link rel="stylesheet" type="text/css" href="styling/default.css" />
</head>
<body>
{if:isset(alreadyChallengedPlayer)}
    You've already challenged the player {alreadyChallengedPlayer}.<br/>
    The current game has the id {alreadyChallengedGameID}.
{end}

{if:isset(startedGamePlayerID)}
    You have started a game against the player with the ID {startedGamePlayerID}.<br/>
    The Username of this Player is {startedGamePlayerUsername}.<br/>
    The new gameID is {startedGameID}.
{end}

{if:isset(incorrectID)}
    You have selected an incorrect ID.
{end}

{if:isset(possibleOpponents)}
    <ul>
    {foreach:possibleOpponents,i,playerArray}
        <li><a href="challengePlayer.php?playerID={playerArray['id']}">{playerArray['uname']}</a></li>
    {end}
    </ul>
{end}
</body>
</html>
