<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="A page where you can challenge another player." />
  <title>Challenge another player - Community Chess</title> 
  <link rel="stylesheet" type="text/css" href="styling/default.css" />
  <link rel="stylesheet" type="text/css" href="external/navigation/navigation.css" />
  <link type="text/css" href="external/jquery-toastmessage/css/jquery.toastmessage.css" rel="stylesheet">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="external/jquery-1.6.4.min.js"></script>
  <script type="text/javascript" src="external/jquery-toastmessage/jquery.toastmessage-min.js"></script>
</head>
<body>
    <script type="text/javascript" src="external/jquery-toastmessage/toast-custom.js"></script>
    <div id="tabs1">
      <ul>
        <li><a href="index.php"         title="Homepage"><span>Homepage</span></a></li>
        <li><a href="status.php"        title="All chess matches"><span>All chess matches</span></a></li>
        <li><a href="challengePlayer.php" title="Challenge Player" id="activetab"><span>Challenge Player</span></a></li>
        <li><a href="my_software.php"   title="My software"><span>My software</span></a></li>
	    <li><a href="tournaments.php"   title="Tournaments"><span>Tournaments</span></a></li>
	    <li><a href="ranking.php"       title="Ranking"><span>Ranking</span></a></li>
      </ul>
    </div>
    <div id="content">
    <br style="clear:both;"/>

    {if:isset(alreadyChallengedPlayer)}
        <script>showStickyErrorToast("You've already challenged the player {alreadyChallengedPlayer}.<br/>The current game has the id {alreadyChallengedGameID}.");</script>
        <noscript>
            <p>You've already challenged the player {alreadyChallengedPlayer}.</p>
            <p>The current game has the id {alreadyChallengedGameID}.</p>
        </noscript>
    {end}

    {if:isset(startedGameUserID)}
        <script>showStickySuccessToast("You have started a game against the player with the ID {startedGameUserID}.<br/>The Username of this Player is {startedGamePlayerUsername}.<br/>The new gameID is {startedGameID}.")</script>
         <noscript>
            <p>You have started a game against the player with the ID {startedGameUserID}.</p>
            <p>The Username of this Player is {startedGamePlayerUsername}.</p>
            <p>The new gameID is {startedGameID}.</p>
        </noscript>
    {end}

    {if:isset(incorrectID)}
        <script>showStickyErrorToast("You have selected an incorrect ID.");</script>
        <noscript><p>You have selected an incorrect ID.</p></noscript>
    {end}

    {if:isset(possibleOpponents)}
        <p>You can challenge these players:
        <ul>
        {foreach:possibleOpponents,i,playerArray}
            <li>challenge <a href="challengePlayer.php?user_id={playerArray['user_id']}">{playerArray['user_name']}</a></li>
        {end}
        </ul>
    {else}
        <p>No opponents available.</p>
    {end}
    </div>
</body>
</html>
