<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Select what you want to do next." />
  <title>Homepage - Community Chess</title> 
  <link rel="stylesheet" type="text/css" href="styling/default.css" />
  <link rel="stylesheet" type="text/css" href="external/navigation/navigation.css" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
    <div id="tabs1">
      <ul>
        <li><a href="index.php"         title="Homepage" id="activetab"><span>Homepage</span></a></li>
        <li><a href="status.php"        title="All chess matches"><span>All chess matches</span></a></li>
        <li><a href="challengePlayer.php" title="Challenge Player"><span>Challenge Player</span></a></li>
        <li><a href="my_software.php"   title="My software"><span>My software</span></a></li>
	    <li><a href="tournaments.php"   title="Tournaments"><span>Tournaments</span></a></li>
      </ul>
    </div>
    <div id="content">
    <br style="clear:both;"/>
    <h1>About Community Chess</h1>
    Community Chess is hosted on <a href="http://code.google.com/p/community-chess/">code.google.com</a>. 
    The latest version can be downloaded there and all documentation is in the wiki-section.
    <h2>Information</h2>
    Logged in with USER_ID {USER_ID}.<br/>
    </div>
</body>
</html>
