body {
    margin:0;
    padding:0;
}
#content {
    background-color: #F4F7FB;
    padding         : 21px;
    border          : 1px solid #BCD2E6;
}
#tabs1 {
    background-color: #FFF !important;
}
.current, .highlightField {
    background-color: #C3FDB8;
}
.whiteField {
    background-color: #ffce9e;
}

.blackField {
    background-color: #d18b47;
}

.stressed {
    color: red;
    font-weight:bold;
    font-size:+4;
}

/***********************************************************************************/
/* HTML-Tags                                                                       */
/***********************************************************************************/
fieldset {
    background-color: #efefef;
}

table {
    background-color: #ffffee;
}

th {
    background-color: #ffeeff;
}
body {
    width           : 800px;
    margin-left     : auto;
    margin-right    : auto;
}
