body {
    margin:0;
    padding:0;
}
.current {
    background-color: lime;
}
.whiteField {
    background-color: #ffce9e;
}

.blackField {
    background-color: #d18b47;
}

.stressed {
    color: red;
    font-weight:bold;
    font-size:+4;
}
